
<header class="page-header">
<div class="container">
  <h2>Welcome Admin!</h2>
</header>
</div>
<div class="panel panel-default">
  <table class="table table-bordered">
  <tbody>
  <tr>
        <td>
        Products Available:
        </td>
        <td class="expand">
        <%= link_to  @products_count, admin_products_path %>
        </tr>

      </td>
      <td>
      Categories Available:
    </td>
    <td>
      <%= link_to  @categories_count, admin_categories_path %>
    </td>
  </tr>
</tbody>
</table>
</div>