<header class="page-header">
<div class="container">
<h4>About Jungle</h4>
<p>This is a mini e-commerce application built with Rails 6.1 for purposes of teaching Rails by example.
There are multiple high-level goals to this project:
Become familiar with Ruby and the Rails framework. 
Learn how to navigate an existing code-base. Use existing code style and approach to implement new features in unfamiliar territory.
Apply previous learning tactics to research and become familiar with a new paradigm, language and framework. 
Simulate work in the real world where feature and bug-fix requests are listed instead of step-by-step instructions on how to implement a solution. 
Thanks for looking at my project!
</p>
</div> 
</header>